{% extends "base.html" %}
{% block content %}

    <h5 style="margin-top: 15px">About this app</h5>
        <p style="color: black">This is an application that scrapes opinion data of a specified product from Ceneo.pl website and displays it along with some basic statistics.</p>

    <h5 style="margin-top: 15px">About author</h5>
        <p style="color: black">I am a first year student at Krakow University of Economics and am participating in the 'Computer Programming 2' course.</p>
{% endblock %}