{% extends "base.html" %}
{% block content %}

    <h2 style="margin-top: 15px;color: black">About this app</h2>
        <p style="color: black">This is an application that scrapes opinion data of a specified product from Ceneo.pl website and displays it along with some basic statistics.</p>

    <h2 style="margin-top: 15px;color: black">About author</h2>
        <p style="color: black">I am a first year student at Kraków University of Economics and am participating in the 'Computer Programming 2' course.</p>
{% endblock %}