{% extends "base.html" %}

{% block content %}
    <p>This is {{ product_id }} product file</p>
    <a href="{{ url_for('download_json', product_id=product_id) }}" class="btn btn-dark mb-1 mt-1 btn-sm">JSON</a>
    <a href="{{ url_for('download_csv', product_id=product_id) }}" class="btn btn-dark mb-1 mt-1 btn-sm">CSV</a>
    <a href="{{ url_for('download_xlsx', product_id=product_id) }}" class="btn btn-dark mb-1 mt-1 btn-sm">XLSX</a>
    <a href="{{ url_for('charts', product_id=product_id) }}" class="btn btn-dark mb-1 mt-1 btn-sm">Charts</a>
    {{ opinions | safe }}
{% endblock %}

{% block scripts %}
<script>
    let table = new DataTable('#opinions', {
    responsive: true
});
</script>
{% endblock %}
